<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style_aula10.css"> <!---->
    <title>Exemplo for EJS</title>
</head>
<body>
    <h1>Exemplo de for no EJS</h1>

    <% for (let i = 0; i < qtde; i++) { %>

        <div> <%= i + 1 %> </div>

    <% } %>

</body>
</html>